*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

section{
    height: 100vh;
    background-image: linear-gradient(to left, #7f8688,#929d9e );
    font-family: sans-serif;
    color: black;
}

.score{
    color: white;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2{
    font-size: 30px;
    color: black;
}

.score p{
    font-size: 25px;
    margin-top: 1vh;
    text-align: center;
    color: black;
}

.intro{
    text-align: center;
    color: white;
    font-size: 35px;
    padding: 5%;
    transition: opacity 1s ease;
    color: black;
}

.intro button{
    padding: 1%;
    font-size: 25px;
    margin-top: 5vh;
    background-color:#f3e367;
    color: black;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s ease-in-out;
    padding: 2%;

}
.intro button:hover{
    background: transparent;
    border: 2px solid #f3e367;
    color: white;
}


.match{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity 1s ease;
}

.winner{
    color: white;
    text-align: center;
    font-size: 30px;
    color: black;
}
.hands .options{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.match button{
    padding: 1%;
    font-size: 30px;
    margin-top: 5vh;
    background-color: #f3e367;;
    color: black;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s ease-in-out;
    margin-left: 10%;
    cursor: pointer;
    padding: 3%;
}

.match button:hover{
    background: transparent;
    border: 2px solid #f3e367;
    color: white;
}

.player-hand{
    transform: rotateY(180deg);
}

div.fadeout{
    opacity: 0;
    pointer-events: none;
}

div.fadein{
    opacity: 1;
    pointer-events: all;
}

#computer-hand{
    transition: 0.4s ease-in-out;
}

.winner{
    font-size:  40px;
    font-family:sans-serif;
    font-weight: 1000;
    font-style: italic;

}